body,html {
    height:100%
}
div.bg {
    height:100%;
    min-width: 1500px;
    background-image: url("bg.jpg");
    background-size: auto;
}
div.bg {
    filter: invert(100%) 
}
#titlePage {
    padding-top: 2%;
    text-align: center;
    font-size: 200%;
    font-family: 'Roboto Slab', serif;
    font-weight: bolder;
    padding-bottom: 75px;
}
.label {
    font-size: 125%;
    font-family: 'Roboto Slab';
    position: relative;
    left: 30px
}
.boxLeft {
    height: 25px;
    position: fixed;
    font-size:18px;
    left:400px;
}
.boxRight {
    height: 25px;
    position: fixed;
    font-size:18px;
    left: 1100px;
    display: inline-flex;
}
#bgc {
    padding-top: 50px;
    background-color: rgba(255, 255, 255, 0.7)
}
#butt {
    margin-top: 30px;
}
.left {
    position: relative;
    display: inline-block
}
.right {
    left:450px;
    bottom:95px;
    position: relative;
    display: inline-block;
}
#output {
    background-color: rgba(255, 255, 255, 0.7);
    text-align: center;
    font-size:200%;
}